body {
    font-family: 'Rubik', sans-serif;
    background: url('cuddlyferris_grey.svg');
    background-attachment: fixed;
    background-position: right bottom;
    background-size: 300px;
    background-repeat: no-repeat;
}

.big-nope {
    font-size: 10vw;
}

.filler {
    height: 40vh;
}

.podcast {
    font-size: 8vw;
}

.slidelike {
    height: 100vh;
    min-height: 350px;
}

.carousel-item {
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}